h3 {
  color: darkgreen;
  font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 170px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  background-color: #ffff66;
}

li {
  float: left;
  
}

li a {
  display: inline-block;
  color: #000066;
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
  padding: 15px;
  padding-right: 50px;
  text-decoration: none;
}

li a:hover {
  background-color: pink;
}

.header {
  margin: 30px 150px 50px 200px;
}

body {
  background-image: url(photos/sunshine.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.textbox {
  color: #00004d;
  font-size: 25px;
  background-color: rgba(255, 179, 255, 0.5);
  text-align: justify;
  margin: 30px 150px 50px 200px;

}

.forma{
  color: #00004d;
  font-size: 18px;
  background-color: rgba(217, 255, 179, 0.5);
  text-align: justify;
  margin: 30px 700px 50px 200px;
}
